body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: bold;
  color: #f30;
  font-size: 24px;
}

.logo span {
  color: #000;
  font-size: 14px;
  margin-left: 5px;
}

.menu a {
  margin-left: 15px;
  text-decoration: none;
  color: #0033cc;
  font-size: 14px;
  text-transform: uppercase;
}

.banner img {
  width: 100%;
  display: block;
  max-height: 300px;
  object-fit: cover;
}

.mini-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.news-item {
  color: white;
  padding: 20px;
  font-weight: bold;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.main-news {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
}

.main-news img {
  width: 50%;
  height: 100%;
}

.main-news .text {
  width: 50%;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 40px;
}
 .container {
  max-width: 1140px;  /* to‘g‘ri yozilgan kenglik */
  margin: 0 auto;     /* markazlashtirish */
  padding: 0 15px;
}

.mini-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 ustun */
}

.news-item {
  display: flex;
  width: 100%;   /* container ga moslashadi */
  height: 175px;
  color: white;
  overflow: hidden;
  background: none; /* rasm orqasida fon bo‘lmasin */
}

.news-item img {
  width: 350px;
  height: 175px;
  object-fit: cover;
  display: block;
}

.news-item .text {
  box-sizing: border-box;
  display: flex;
}

.news-item .text h3 {
  font-size: 16px;
  width: 320px;
  height: 44px;
  font-weight: 700;
}

.news-item .text p {
  font-size: 14px;
  width: 320px;
  height: 130px;
  font-weight: 400;
  color: #EBEBEB;

}
